<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.light.springinit.mapper.QuestionBankMapper">

    <resultMap id="BaseResultMap" type="com.light.springinit.domain.entity.QuestionBank">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
            <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
            <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
            <result property="priority" column="priority" jdbcType="INTEGER"/>
            <result property="viewNum" column="view_num" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,
        picture,user_id,review_status,
        review_message,reviewer_id,review_time,
        priority,view_num,edit_time,
        create_time,update_time,deleted
    </sql>
</mapper>
